main {
    padding: 4rem 1.5rem;
    margin-top: 100px;
    background: var(--primary-color);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.content-section {
    margin-bottom: 4rem;
}

.content-section h1 {
    font-size: 1.85rem;
    margin-bottom: 1.5rem;
    color: var(--acent-text-color-2);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.section-content p {
    font-size: 1.125rem;
    line-height: 1.75;
    margin-bottom: 1rem;
}

.center {
    text-align: center;
}
.indent {
    margin-left: 2rem;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: var(--acent-text-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media (max-width: 1000px) {
    .indent {
        margin-left: 0;
    }

    .content-section h1 {
        font-size: 1.65rem;
        text-align: center;
    }

    .section-content p {
        font-size: 1rem;
    }
}
