/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");

/* Styling */
@import 'header.css';
@import 'base.css';
@import 'layout.css';
@import 'teams.css';
@import 'footer.css';
