<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="image-carousel.js"></script>
    <script type="module" src="image-carousel[deprecated].js"></script>
</head>
<body style="background:#9e9e9e; padding:2rem;">
    <image-carousel src="carousel-example.json"></image-carousel>
    <image-carousel src="carousel-example.json" primary-color="green" secondary-color="yellow" text-color="purple" background-color="#FF0000" width="700px" height="500px"></image-carousel>
</body>
</html>